body{
    background-color: rgb(238, 238, 238);
}

.container{
    background-color: #fff;
}

.relatif{
    position: relative;
    width: 100%;

}

.formView{
    width: 100%;
}

.namaPemohon{
    position: absolute;
    top: 18.9%;
    width: 64%;
    line-height: 2.4vw;
    left: 23%;
    font-weight: bolder;
    font-size: 1.5vw;
}

.sdr{
    position: absolute;
    top: 23.6%;
    width: 64%;
    line-height: 2.4vw;
    left: 23%;
    font-weight: bolder;
    font-size: 1.5vw;
}

.sdrAyah{
    position: absolute;
    top: 28%;
    width: 64%;
    line-height: 2.4vw;
    left: 23%;
    font-weight: bolder;
    font-size: 1.5vw;
}

.sdrKakek{
    position: absolute;
    top: 33%;
    width: 64%;
    line-height: 2.4vw;
    left: 23%;
    font-weight: bolder;
    font-size: 1.5vw;
}

.marga{
    position: absolute;
    top: 38.1%;
    width: 64%;
    line-height: 2.4vw;
    left: 23%;
    font-weight: bolder;
    font-size: 1.5vw;
}

.tmptl{
    position: absolute;
    top: 41.3%;
    width: 64%;
    line-height: 2.4vw;
    left: 23%;
    font-weight: bolder;
    font-size: 1.5vw;
}

.almt{
    position: absolute;
    top: 45.1%;
    width: 64%;
    line-height: 2.4vw;
    left: 23%;
    font-weight: bolder;
    font-size: 1.5vw;
}

.nmAnak{
    position: absolute;
    top: 48.4%;
    width: 64%;
    line-height: 2.4vw;
    left: 23%;
    font-weight: bolder;
    font-size: 1.5vw;
}

